name: Greeting on variable day

on:
  workflow_dispatch

env:
  DAY_OF_WEEK: Monday

jobs:
  greeting_job:
    runs-on: windows-latest
    env:
      Greeting: Hello
    steps:
      - name: "Say Hello Mona it's Monday"
        run: echo "$env:Greeting $env:First_Name. Today is $env:DAY_OF_week!"
        env:
          First_Name: $vars:today
